NEXT_PUBLIC_DOMAIN=http://192.168.18.37:3000/
NEXT_PUBLIC_API=http://192.168.18.210:5000

NEXT_PUBLIC_FACEBOOK_PIXEL_ID=
NEXT_PUBLIC_INSTAGRAM=https://www.instagram.com/mypru.net1/
NEXT_PUBLIC_FACEBOOK=https://www.facebook.com/mypru.net
NEXT_PUBLIC_YOUTUBE=https://www.youtube.com/channel/UC7xz6DyWhcSGKY6W0_e3B-Q/videos?view_as=subscriber
NEXT_PUBLIC_EMAIL=mypru.net1@gmail.com
NEXT_PUBLIC_TELEPON=+628194888688
